# Dependencies
node_modules/
jspm_packages/
lib-cov/
pids/
logs/
results/
build/
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sample

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project specific
test_api_result.json
